global:
  checkNewVersion: true
  sendAnonymousUsage: false

accessLog: {}

log:
  level: INFO

api:
  dashboard: true # Enable Traefik dashboard for monitoring/debugging
  insecure: false # Disable insecure access to the dashboard

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  cloudflare:
    acme:
      email: "adga2012@gmail.com"
      storage: "/etc/traefik/certs/acme.json"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      keyType: "EC256"
      dnsChallenge:
        provider: cloudflare
        propagation:
          delayBeforeChecks: 90
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
    endpoint: "unix:///var/run/docker.sock"
    watch: true
  file:
    directory: /etc/traefik/conf/
    watch: true

