services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${SUBDOMAIN:-homepage}.${DOMAIN_NAME:?DOMAIN_NAME not set}
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"
      - "traefik.http.routers.homepage.rule=Host(`${SUBDOMAIN:-homepage}.${DOMAIN_NAME:?DOMAIN_NAME not set}`)"
      - "traefik.http.routers.homepage.entrypoints=websecure"
      - "traefik.http.routers.homepage.tls=true"
      - "traefik.http.routers.homepage.tls.certresolver=cloudflare"
      - "traefik.http.services.homepage.loadbalancer.server.port=3000"
      - "traefik.http.services.homepage.loadbalancer.server.scheme=http"

networks:
  traefik-proxy:
    external: true
